@page
@model TC2_Bases.Pages.Add.AddRepairModel
@{
}

<br />
<h2>Registrar Reparacion</h2>
<br />

@*IN CASE THERE IS AN ERROR, IT WILL BE VISIBLE ON THE PAGE FOR THE USER TO KNOW*@
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-desmissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
}

@*FORM TO GET THE USER INPUT TO UPDATE THE DATABASE*@
<form method="post">
    <div class="mb-3">
        <label for="repair-cons" class="form-label">Digite el consecutivo de la reparacion:</label>
        <input type="text" class="form-control" id="repair-cons" name="repair-cons" value="@Model.rprInfo.consecutive">
    </div>

    <div class="mb-3">
        <label for="repair-client" class="form-label">Seleccione el cliente:</label>
        <select class="form-select" id="repair-client" name="repair-client">
            <option value=""></option>
            @foreach (var item in Model.clientsList)
            {
                <option value="@item.id">@item.name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="repair-shop" class="form-label">Seleccione el taller:</label>
        <select class="form-select" id="repair-shop" name="repair-shop">
            <option value=""></option>
            @foreach (var item in Model.shopsList)
            {
                <option value="@item.id">@item.name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="repair-car" class="form-label">Seleccione el vehiculo:</label>
        <select class="form-select" id="repair-car" name="repair-car">
            <option value=""></option>
            @foreach (var item in Model.carsList)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="repair-mech" class="form-label">Seleccione el mecanico principal:</label>
        <select class="form-select" id="repair-mech" name="repair-mech">
            <option value=""></option>
            @foreach (var item in Model.mechsList)
            {
                <option value="@item.id">@item.name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="repair-date" class="form-label">Fecha de raparacion:</label>
        <input type="text" class="form-control" id="repair-date" name="repair-date" value="@Model.rprInfo.repairDate" placeholder="AAAA-MM-DD">
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="alert alert-success alert-desmissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-outline-secondary">Agregar</button>
</form>